* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
.circle {
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #ffffff 40%, #e0e0e0 100%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 6px rgba(255, 255, 255, 0.8);
  border: 2px solid #0ef;
  transition: all 0.1s ease;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.9);
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 7px;
  /* animation: pulse 2s infinite ease-in-out; */
}
.overlay{
  height: 100%;
  width: 100%;
  background-color:transparent;
  position: absolute;
  z-index: 10;
}

/* @keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0, 255, 255, 1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
  }
} */

/* .circle:hover {
  transform: scale(1.3);
  background-color: #0ef;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.9);
} */


#loader-logo {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 10px #00ffff);
  }
  to {
    filter: drop-shadow(0 0 25px #00ffff);
  }
}

#loader-text {
  background: linear-gradient(270deg, #ff0080, #7928ca, #2afadf, #00ff87);
  background-size: 800% 800%;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text 5s ease infinite;
  font-size: 2rem;
}

@keyframes rainbow-text {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


header {
  height: 120px;
  /* background-color: black; */
  background-color: #15373B;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  z-index: 0;

}
header .logo {
  width: 120px;
  height: 100%;
  position: relative;
}

header .list {
  display: flex;
  /* justify-content: space-between; */
  gap: 70px;
  align-items: center;
}
header .list h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

header .list i{
  color: white;
  font-size: 25px;
  font-weight: 600;
  /* margin-left: 20px; */
  display: none;
}

.list h4:hover,.list i:hover{
  color: black;
}

@media (max-width: 768px) {
  header .list i{
    display: block;
  }
  header .list h4{
    display: none;
  }
  

}
